.App {
  background-color: blueviolet;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contain {
  background-color: white;
  padding: 10px 20px;
}

.enter {
  border-radius: 5px;
}